In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import pad_sequences
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping

In [2]:
path = "/content/drive/MyDrive/spam.csv"

In [3]:
df = pd.read_csv('/content/drive/MyDrive/spam.csv', delimiter=',', encoding='latin-1')

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [8]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

In [9]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = pad_sequences(test_sequences,maxlen=max_len)

In [10]:
inputs = Input(name='inputs',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FC1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='out_layer')(layer)
layer = Activation('sigmoid')(layer)
model = Model(inputs=inputs,outputs=layer)

model.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 inputs (InputLayer)         [(None, 150)]             0

 embedding (Embedding)       (None, 150, 50)           50000

 lstm (LSTM)                 (None, 64)                29440

 FC1 (Dense)                 (None, 256)               16640

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 out_layer (Dense)           (None, 1)                 257

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 96,337
Trainable params: 96,337
Non-trainable params: 0
_________________________________________________________________

In [11]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [12]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 18s 465ms/step - loss: 0.3320 - accuracy: 0.8746 - val_loss: 0.1220 - val_accuracy: 0.9726
Epoch 2/10
30/30 [==============================] - 17s 584ms/step - loss: 0.0855 - accuracy: 0.9797 - val_loss: 0.0721 - val_accuracy: 0.9800
Epoch 3/10
30/30 [==============================] - 10s 322ms/step - loss: 0.0430 - accuracy: 0.9900 - val_loss: 0.0955 - val_accuracy: 0.9705
Epoch 4/10
30/30 [==============================] - 8s 266ms/step - loss: 0.0354 - accuracy: 0.9910 - val_loss: 0.0415 - val_accuracy: 0.9895
Epoch 5/10
30/30 [==============================] - 8s 270ms/step - loss: 0.0247 - accuracy: 0.9937 - val_loss: 0.0501 - val_accuracy: 0.9831
Epoch 6/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0210 - accuracy: 0.9952 - val_loss: 0.0471 - val_accuracy: 0.9905
Epoch 7/10
30/30 [==============================] - 8s 269ms/step - loss: 0.0154 - accuracy: 0.9960 - val_loss: 0.0483 - val_accuracy: 0.9884
Epoch 8/10
30/30 [==============================] - 10s 340ms/step - loss: 0.0125 - accuracy: 0.9968 - val_loss: 0.0577 - val_accuracy: 0.9884
Epoch 9/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0111 - accuracy: 0.9976 - val_loss: 0.0724 - val_accuracy: 0.9810
Epoch 10/10
30/30 [==============================] - 8s 267ms/step - loss: 0.0101 - accuracy: 0.9976 - val_loss: 0.0671 - val_accuracy: 0.9873

In [13]:
model.save('spamclass.h5')

In [14]:
accr = model.evaluate(test_sequences_matrix,Y_test)

27/27 [==============================] - 1s 47ms/step - loss: 0.1135 - accuracy: 0.9773

In [15]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: 0.114
  Accuracy: 0.977